/*
Orange color: #e67e22

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */



/* ----- HEADINGS ----- */


/* ----- PARAGRAPHS ----- */


/* ----- ICONS ----- */


/* ----- LINKS ----- */



/* ----- BUTTONS ----- */



/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */



/* Main navi */



/* Mobile navi */



/* Sticky navi */


/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */




/* ----------------------------------------------- */
/* MEALS */
/* ----------------------------------------------- */





/* ----------------------------------------------- */
/* HOW IT WORKS SECTION */
/* ----------------------------------------------- */




/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */



/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */



/* ----------------------------------------------- */
/* SIGN UP */
/* ----------------------------------------------- */




/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */




/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */






/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */


